<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<div class="story">
    <p>"几个世纪以来，左撇子在这个为右撇子设计的世界上一直遭受着不公平的歧视。
       <br>Santrock, John W. (2008).运动、感觉和知觉发展。</p>

    <p>
        "大多数人类（70%至95%）是右撇子，少数人（5%至30%）是左撇子，还有不计其数的人是左撇子。
        少数人（5%到30%）是左撇子，还有不确定数量的人可能最好被描述为左右开弓"。
       <br>科学美国人 www.scientificamerican.com</p>

</div>

<p>
    其中一个机器人的任务很简单：
    将一串字符串连接成一个句子，以产生如何在船上行走的指令。
    如何绕船航行。
    但这个机器人是个左撇子，经常开玩笑，把它的右撇子朋友们搞得晕头转向。
</p>
<p>
    给您一串字符串。
    您应该将这些字符串连接成一个文本块，其中初始字符串用逗号分隔。
    作为对右手机器人的玩笑，您应该用 "左 "代替所有的 "右"、
    即使它是另一个单词的一部分。所有字符串均小写。
</p>


<p>
   <strong>输入</strong>字符串序列 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>输出</strong>以逗号分隔的字符串文本 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>


<div class="for_info_only">
    <p>
        <strong>示例</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>如何使用：</strong>
    这是一个使用字符串和序列进行操作的简单示例。
</p>

<p>
   <strong>前提条件</strong><br>
    0 &lt; len(phrases) &lt; 42<br>
</p>
