<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<div class="story">
    <p>"Seit Jahrhunderten werden Linkshänder in einer Welt, die für Rechtshänder geschaffen wurde, ungerecht diskriminiert."
       <br>Santrock, John W. (2008). Motorische, sensorische und wahrnehmungsbezogene Entwicklung.</p>

    <p>
        "Die meisten Menschen (etwa 70 bis 95 Prozent) sind Rechtshänder, eine Minderheit (etwa 5 bis 30 Prozent)
        sind Linkshänder, und eine unbestimmte Anzahl von Menschen ist wahrscheinlich am besten als beidhändig zu bezeichnen."
       <br>Scientific American. www.scientificamerican.com</p>

</div>

<p>
    Einer der Roboter ist mit einer einfachen Aufgabe betraut:
    er soll eine Folge von Zeichenketten zu einem Satz zusammenfügen, um Anweisungen zu geben
    wie man sich auf dem Schiff fortbewegt.
    Aber dieser Roboter ist Linkshänder und neigt dazu, Witze zu machen und seine rechtshändigen Freunde zu verwirren.
</p>
<p>
    Sie erhalten eine Folge von Zeichenketten.
    Sie sollten diese Zeichenfolgen zu einem Textabschnitt zusammenfügen, bei dem die ersten Zeichenfolgen durch Kommata getrennt sind.
    Um den rechtshändigen Robotern einen Streich zu spielen, sollten Sie alle Fälle, in denen das Wort "rechts" vorkommt, durch das Wort "links" ersetzen,
    auch wenn es ein Teil eines anderen Wortes ist. Alle Zeichenfolgen werden in Kleinbuchstaben angegeben.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}right-left.svg" alt="example" style="max-height: 200px"/>
</p>

<p>
   <strong>Eingabe:</strong> Eine Folge von Zeichenketten <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Der Text als kommagetrennte Zeichenkette <span>(str{% if is_js %}ing{% endif %})</span>.
</p>


<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Wie es verwendet wird:</strong>
    Dies ist ein einfaches Beispiel für Operationen mit Strings und Sequenzen.
</p>

<p>
   <strong>Vorbedingung:</strong><br>
    0 &lt; len(Phrasen) &lt; 42<br>
</p>
