<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<div class="story">
    <p>"Przez wieki osoby leworęczne doświadczały niesprawiedliwej dyskryminacji w świecie zaprojektowanym dla osób praworęcznych"
       <br>Santrock, John W. (2008). Rozwój motoryczny, sensoryczny i percepcyjny.</p>

    <p>
        "Większość ludzi (powiedzmy od 70 do 95 procent) jest praworęczna, mniejszość (powiedzmy od 5 do 30 procent) jest leworęczna
        jest leworęczna, a nieokreślona liczba ludzi jest prawdopodobnie najlepiej opisana jako oburęczna"
       <br>Scientific American. www.scientificamerican.com</p>

</div>

<p>
    Jeden z robotów ma proste zadanie:
    połączyć sekwencję ciągów w jedno zdanie, aby stworzyć instrukcje
    jak poruszać się po statku.
    Ale ten robot jest leworęczny i ma tendencję do żartowania i mylenia swoich praworęcznych kolegów.
</p>
<p>
    Otrzymuje Pan sekwencję ciągów znaków.
    Proszę połączyć te ciągi w fragment tekstu, w którym początkowe ciągi są oddzielone przecinkami.
    Aby zażartować z praworęcznych robotów, należy zastąpić wszystkie przypadki słowa "prawy" słowem "lewy",
    nawet jeśli jest to część innego słowa. Wszystkie ciągi są pisane małymi literami.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}right-left.svg" alt="example" style="max-height: 200px"/>
</p>

<p>
   <strong>Wejście:</strong> Sekwencja ciągów znaków <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Wyjście:</strong> Tekst jako ciąg oddzielony przecinkami <span>(str{% if is_js %}ing{% endif %})</span>.
</p>


<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Sposób użycia:</strong>
    Jest to prosty przykład operacji wykorzystujących ciągi i sekwencje.
</p>

<p>
   <strong>Warunek wstępny:</strong><br>
    0 &lt; len(phrases) &lt; 42<br>
</p>
